.card{
    padding: 0 20px;
      width: 210px;
    height: 260px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    transition: box-shadow 0.2s ease-in-out;
    
    
    
        .like{
      box-sizing: border-box;
      position: absolute;
      width: 30px;
      height: 30px;
      margin-top: 1.3rem;
      background: #FFFFFF;
      border: 1px solid #F8F8F8;
      border-radius: 7px;
      cursor: pointer;
  
     }
    .sneakers{
      margin-left: 1rem;
    }
    
    &:hover{
      box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
      transform: translateY(-0.5rem);
    }
    
    }
    
    .card__text{
      padding: 10px 0;
  height: 63px;
    }
    .card__item__bye{
      display: flex;
      flex-direction: column;
      span{
 
        display: flex;
        color: #BDBDBD;
        font-size: 11px;
      }
      b{
        font-size: 14px;
      }
    }
    
    .button{
      position: relative;
      background: #dcf0ea;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
width: 32px;
height: 32px;

    cursor: pointer;

    }
    .card__item{
      display: flex;
      justify-content: space-between;
      align-items: center;
   
    }